<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>No Clocks Testimonials Widget</title>
    <meta name="description" content="No Clocks Testimonials Widget">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href=""> -->
  </head>
  <body>
    <script async type="text/javascript" src="https://testimonial.to/js/widget-embed.js"></script>
    <div class="testimonial-to-embed" data-url="https://embed-v2.testimonial.to/c/noclocks-testimonials?theme=dark" data-allow="camera;microphone" data-resize="true"></div>
  </body>
</html>
